.about-us-area {
  position: relative;
  z-index: 1;
  background-color: #ffffff;
}

.about-content-text {
  position: relative;
  z-index: 1;
}

.about-content-text p {
  font-size: 16px;
  margin-bottom: 20px;
}

.about-btn {
  margin-top: 30px;
}

.about-btn .confer-btn {
  background: linear-gradient(to right, #df42b1, #505add);
  color: #ffffff;
}

.about-btn .confer-btn:hover {
  background: linear-gradient(to right, #505add, #df42b1);
}
