.how-it-works-page {
  position: relative;
  z-index: 1;
}

.how-it-works-intro {
  background-color: #ffffff;
}
.section-heading h2 {
  background: linear-gradient(90deg, #df42b1 0%, #505add 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  /* text-fill-color: transparent; */
  font-family: 'Inter', 'Segoe UI', Arial, sans-serif;
  font-size: 2.3rem;
  font-weight: 800;
  letter-spacing: 0.5px;
  margin-bottom: 18px;
}

.intro-content {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
}

.intro-content p {
  font-size: 18px;
  color: #5d5e8d;
  line-height: 1.8;
}
